.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 36px;
  background-color: #fff;
  width: 100%;
  max-width: 430px;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .popup__container {
    padding: 25px 22px;
    gap: 45px;
  }
}