.profile__edit-button {
  width: 24px;
  height: 24px;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #ffffff;
  background-image: url(../../../images/icons/edit.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}