.profile__name-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

@media screen and (max-width: 768px) {
  .profile__name-container {
    padding-left: 10px;
    gap: 12px;
  }
}