.footer {
  padding: 27px 19px 60px;
  display: flex;
  width: 100%;
  max-width: 918px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 10px;
    padding-bottom: 36px;
  }
}