.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 918px;
  box-sizing: border-box;
  padding: 0 19px;
  width: 100%;
  min-height: calc(100vh - 120.39px - 189px);
}

@media screen and (max-width: 768px) {
  .wrapper {
    gap: 36px;
    min-height: calc(100vh - 85.48px - 63px - 80px);
  }
}