.popup__submit {
  border: none;
  border-radius: 2px;
  padding: 14px 0 18px;
  background-color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.popup__submit:disabled {
  background-color: #fff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
  opacity: 0.2;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
    margin-top: 8px;
  }
}